body{
    background-color: rgb(34, 34, 34);
}
#buttonCont{
    text-align: center;
}
#countLabel{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    font-size: 100px;
}
.buttons{
    background-color: aquamarine;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    font-size: x-large;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(72, 170, 138);
}
.buttons:active{
    background-color: aliceblue;
}
h1{
    font-family: "Space Grotesk", sans-serif;
    color: rgb(255, 255, 255);
}
footer{
    font-family: "Space Grotesk", sans-serif;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}